.action-buttons {
    height: 25px;
    width: 25px;
    padding: 0;
}

.action-buttons i {
    color: white;
}

.main-buttons {
    width: 100px;
}


.nav-container {
    margin-left: 10px;
}

.new-row-pivot {
    background-color: #98dfb6;
}

.deleted-row-pivot {
    background-color: #e9605c;
}

.new-row {
    background-color: #98dfb6;
}

.deleted-row {
    background-color: #e9605c;
}

#results-list {
    list-style-type: none;
    max-height: 300px;
    margin-bottom: 10px;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

#results-list > li {
    padding: 2px;
}

#results-list > li:hover {
    background-color: #6cb2eb;
}

.projeto-card {
    padding-bottom: 2px;
}

.projeto-card > .card {
    width: 100%;
}

.botoes-mover {
    padding-top: 8em;
}

.selected-row-modal {
    background-color: #98dfb6;
}

